/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Roboto&display=swap');

body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

/* Set a background color for the entire page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Style the main content container */
main {
    max-width: 80%;
    margin: 5% auto;
    padding: 30px;
    background-color: rgb(27, 67, 50);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

/* Style the section headings */
h2 {
    font-size: 24px;
    color: rgb(32, 69, 41);
    margin-bottom: 20px;
}

/* Style the paragraphs */
section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Add spacing between sections */
section {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: rgb(249, 249, 249);
}

/* Style the header */
header {
    background-color: rgb(27, 67, 50);
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 1.5rem;
}

/* Style the logo */
header img {
    width: 100px;
    height: auto;
    margin-left: 20px;
}

.maintitle {
    font-size: 16px;
    color: rgb(51, 51, 51);
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(84, 97, 55);
    font-size: 1.3rem;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
}

nav a:hover {
    background-color: rgb(68, 83, 47);
}

.image {
    max-width: 50%;
    display: flex;
    flex: 1;
    height: auto;
    border-radius: 10px;
}

.main-container {
    display: flex;
    align-items: center;
    max-width: 95%;
    margin-bottom: 20px;
}

.info-container {
    background-color: rgb(27, 67, 50);
    color:rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    max-height: 100%;
    width: auto;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    margin: 0;
    padding: 0;
}

.description li {
    margin: 0 0 20px 20px;
    list-style-type: none;
    /* Make lines clip to baseline */
    display: flex;
    align-items: baseline;
}

.description li i {
    margin-right: 10px;
}

/* Style the link button in the description box */
.link-button {
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgb(135, 152, 106);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 auto;
    max-width: 50%;
}

.link-button:hover {
    background-color: rgb(113, 131, 85);
}

/* Style the footer */
footer {
    background-color: rgb(27, 67, 50);
    text-align: center;
    padding: 20px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

#social-networks a {
    font-size: 24px;
}

/* Media Queries */
@media (max-width: 1220px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
    }

    .main-container .image {
        max-width: 100%;
    }

    nav {
    /* Stack nav buttons vertically on smaller screens */
        flex-direction: column;
        align-items: flex-start;
    }

    /* Make navigation buttons smaller on smaller screens */
    nav a {
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 5px 10px;
        font-size: 1.3rem;
    }